<div class="blog-item">
  <div class="blog-header">
      <p>
    <h3>
        <%= blog.title %>
    </h3>
      </p>
    </p>
    <p>
    <small class="pull-right"><em>Ryan posted <%= time_ago_in_words blog.created_at %> ago</em></small>
    </p>
  </div>
  <div class="blog-body">
    <p>
    <%= markdown blog.content %>
    </p>
  </div>
  <div class="blog-comments">

  </div>
</div>

