<% content_for :head do %>
  <%= @title %>
<% end %>
<div class="jumbotron">
  <h1>Hello, You!</h1>
  <p>This is Ryan, A software developer, a web designer...Here is my website, currently I'm working on it, i'm going to share some knowledges, skills, tips and my day to day life here. welcome to subscribe.
  <p><a class="btn btn-primary btn-lg" role="button">Get To Know Me</a></p>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Latest Blogs</div>
  <div class="panel-body">
    <p>My own writen-down BLogs, feeling sharing, tech sharing, feel free to leave ur comments, :)</p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">Latest Posts</div>
  <div class="panel-body">
    <p>Here are the latest posts, all posts were sysc to Tencent Webo once it was posted here, you can also follow me on Tencent Weibo</p>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">Sharing Wikis</div>
  <div class="panel-body">
    <p>Here are the latest posts, all posts were sysc to Tencent Webo once it was posted here, you can also follow me on Tencent Weibo</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Sharing Links</div>
  <div class="panel-body">
    <p>Here are the latest posts, all posts were sysc to Tencent Webo once it was posted here, you can also follow me on Tencent Weibo</p>
  </div>
</div>
