// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog-item{
  overflow: auto;
  word-wrap: break-word; 
  word-break: normal; 
  white-space: wrap;
  background-color: #f7f7f9;
  border:2px solid #e1e1e8;
  border-radius: 8px;
  padding: 20px;
  margin: 30px;
}

.blog-header{
  border-bottom: 1px dotted #e1e1e8;
}

.blog-body{
  margin: 30px 0 30px 0;
}


.blog-comments{
  border-top: 1px dotted #e1e1e8;
}

.blog-lists{
  margin: 0 10% 10% 10%;
}

.blog-new{
  padding: 9px 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 8px;
  margin: 0 20% 10% 20%;
}

.blog-header{
  border-bottom: 1px solid #e1e1e8;
}

.field > .blog-content{
  resize:vertical;
  height: 300px;
}
